.card {
  transition: transform 0.2s;
  border-radius: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  &:hover {
    transform: scale(1.05);
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.8rem;

  .id {
    width: 90%;
    text-align: end;
    margin: 0.5rem 0;
    font-weight: 500;
    color: var(--text);
  }

  .name {
    margin: 0.5rem 0;
    color: var(--text);
    text-transform: capitalize;
  }

  .img {
    height: 7.5rem;
    width: 7.5rem;
    filter: drop-shadow(0 0 0.2rem black);

    @media (min-width: 1024px) {
      height: 13.75rem;
      width: 13.75rem;
    }
  }
}
