.header {
  padding: 1rem 0;

  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: var(--text);
    text-transform: uppercase;
  }
}
