.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  text-align: center;
  width: 80%;

  .header {
    width: 100%;
    margin: 2.5rem 0 0 0;
    font-size: 24px;

    .infoHeader {
      display: flex;
      justify-content: center;
      align-items: center;

      .name {
        width: 100%;
      }
    }

    .id {
      margin: 0.5rem 0;
    }
  }

  .img {
    padding: 1rem;
    border-radius: 0.8rem;
  }

  .types {
    display: flex;
    gap: 1.5rem;
    margin: 1rem 0;

    p {
      padding: 0.8rem 1.6rem;
      border-radius: 0.8rem;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  .pokeStats {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .movesDiv {
      display: flex;
      flex-direction: column;

      .movesTitle {
        font-weight: 600;
      }
    }
  }

  .baseStats {
    background-color: #c3eefa;
    border-radius: 0.8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0.8rem 0;

    .headerStats {
      margin: 0.8rem 0;
    }

    .item {
      display: flex;

      span {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        border-right: 1px solid black;
        width: 20%;
        margin: 0 1rem;
        padding-right: 0.5rem;
      }

      .rigth {
        width: 60%;
        display: flex;
        align-items: center;
        gap: 1rem;

        p {
          width: 20%;
        }

        .line {
          width: 100%;
          position: relative;

          .background {
            width: 100%;
            height: 10px;
            opacity: 0.5;
            border-radius: 8px;
          }

          .secondLine {
            position: absolute;
            height: 10px;
            top: 0;
            border-radius: 8px;
          }
        }
      }
    }

    .item:last-child {
      margin-bottom: 1rem;
    }
  }
}
